<p id="notice"><%= notice %></p>

<h1>Would you Rather?</h1>

<div>
  <%= link_to 'New Question', new_question_path, id: "new-question-link", remote: true %>
</div>

<div id="questions-list">
<% @questions.each do |question| %>
  <div>
    <div id="show-container-<%= question.id %>">
      <div id="question-box-<%= question.id %>">
        <% question.choices.each_with_index do |choice, index| %>
          <% if index != 0 %>
            <div class="or">OR</div>
          <% end %>
          <div id="choice-box-<%= choice.id %>">
            <%= link_to question_choice_votes_path(question, choice), method: 'post', remote: true do %><h1><%= choice.content %></h1><% end %>
            <div class="count"><%= choice.votes.length %> votes</div>
          </div>
        <% end %>
      </div>
    </div>
    <%= link_to 'Edit', edit_question_path(question), remote: true, id:"edit-link-#{question.id}" %>
    <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, id:"destroy-link-#{question.id}" %>
  </div>
<% end %>
</div>
