<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @choice.question %>
</p>

<p>
  <strong>Content:</strong>
  <%= @choice.content %>
</p>

<p>
  <strong>Img:</strong>
  <%= @choice.img %>
</p>

<%= link_to 'Edit', edit_choice_path(@choice) %> |
<%= link_to 'Back', choices_path %>
